<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no">

    <title>{{ site.name }}</title>

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ site.theme.link }}/css/ie9.css">
        <script>var browser = 'ie9';</script>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.theme.link }}/style.css">
    {{ wp_head }}
  </head>
  <body class="modal-is-hidden">

    {% include "menu-bar.twig" %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <aside>
      {% block modal %}
      {% endblock %}
    </aside>

    <script>
      window.APP = window.APP || {};
      APP.BASE_URL = '{{ site.url }}';
      APP.THEME_URL = '{{ site.theme.uri }}';
      APP.AJAX_URL = '{{ fn('admin_url', 'admin-ajax.php') }}';
      APP.CATERING_REQUEST = '{{ fn( 'wp_create_nonce', 'user-submitted-catering-request' ) }}';
      APP.MESSAGE = '{{ fn( 'wp_create_nonce', 'user-submitted-message' ) }}';
    </script>
    <script src="{{site.theme.link}}/js/bundle.js"></script>
    {{ wp_footer }}
  </body>
</html>
