<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimal-ui, shrink-to-fit=no">

    <title>{{ site.name }}</title>

    <meta content="{{ options.share_subtitle }}" name="description">
    <meta content="{{ options.share_title }}" name="og:title">
    <meta content="{{ options.share_subtitle }}" name="og:description">
    <meta content="{{ site.link }}" name="og:url">
    <meta content="{{ options.share_title }}" name="og:site_name">
    <meta content="{{ TimberImage(options.fb_share_image).src }}" name="og:image">
    <meta content="{{ options.share_title }}" name="twitter:title">
    <meta content="{{ options.share_subtitle }}" name="twitter:description">
    <meta content="{{ TimberImage(options.twitter_share_image).src }}" name="twitter:image">
    <meta content="summary_large_image" name="twitter:card">
    <link href="{{ site.link }}" rel="canonical">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ site.theme.link }}/css/ie9.css">
        <script>var browser = 'ie9';</script>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.path }}/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.path }}/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.path }}/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.path }}/assets/icons/manifest.json">
    <link rel="mask-icon" href="{{ site.theme.path }}/assets/icons/safari-pinned-tab.svg" color="#f9c8bd">
    <link rel="shortcut icon" href="{{ site.theme.path }}/assets/icons/favicon.ico">
    <meta name="msapplication-config" content="{{ site.theme.path }}/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/wxo0yeg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css">

    {{ wp_head }}
  </head>
  <body class="modal-is-hidden">

    {% include "menu-bar.twig" %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <aside>
      {% block modal %}
      {% endblock %}
    </aside>

    <div class="js-page-loader page-loader">
      <div class="page-loader__inner">
        <div class="page-loader__progress-bar"></div>
      </div>
    </div>

    <script>
      window.APP = window.APP || {};
      APP.BASE_URL = '{{ site.url }}';
      APP.THEME_URL = '{{ site.theme.uri }}';
      APP.AJAX_URL = '{{ fn('admin_url', 'admin-ajax.php') }}';
      APP.CATERING_REQUEST = '{{ fn( 'wp_create_nonce', 'user-submitted-catering-request' ) }}';
      APP.MESSAGE = '{{ fn( 'wp_create_nonce', 'user-submitted-message' ) }}';
      window.hideMenu = {{ menu_page.get_field('hide_menu_link') }};
    </script>
    <script src="{{site.theme.link}}/js/bundle.js"></script>
    {{ wp_footer }}
  </body>
</html>
