{% extends "base.twig" %}

{% block content %}

  {% set bg_image = TimberImage(post.get_field('bg_image')) %}
  {% set bg_position = post.get_field('bg_position') %}
  {% set bg_position_mobile = post.get_field('bg_position_mobile') %}
  {% set cta_link = post.get_field('cta_link') %}
  {% set cta_label = post.get_field('cta_label') %}


  {% if not isAJAX %}<div id="#page-home" class="page page-pono-ono-home page-home">{% endif %}
  <div class="page-home__container container" style="background-image: url('{{ bg_image.src }}');">
    <div class="page-home__inner">
      <div class="page-home__logo">
        <h1 class="page-home__title">
          {{ site.title }}
        </h1>
        <h2 class="page-home__tagline">{{ site.description }}</h2>
      </div>
      <a href="{{ cta_link|relative }}" class="page-home__cta-button button button--primary">
        {{ cta_label }}
        <div data-label="{{ cta_label }}"></div>
      </a>
    </div>
  </div>

  <style>
    .page-home__container {
      background-position: {{ bg_position }};
    }
  </style>

  {% if bg_position_mobile %}
    <style>
      @media (max-width: 768px) {
        .page-home__container {
          background-position: {{ bg_position_mobile }};
        }
      }
    </style>
  {% endif %}
  {% if not isAJAX %}</div>{% endif %}

{% endblock %}
