{% extends "base.twig" %}

{% block content %}

  {% set steps = post.get_field('steps') %}
  {% set menu_items = post.get_field('menu_items') %}

  {% if not isAJAX %}<div id="page-menu" class="page page-menu">{% endif %}

    <button class="button button--circle button--prev js-prev is-disabled">
      <span class="button__icon"></span>
      <span class="button__border"></span>
      <svg class="button__svg" viewBox="0 0 48 48"><circle class="button__svg__circle" cx="24" cy="24" r="24" fill="none" stroke="#676767" stroke-width="2"></circle></svg>
    </button>

    <button class="button button--circle button--next js-next">
      <span class="button__label js-cta">{{ post.get_field('scroll_cta') }}</span>
      <span class="button__icon"></span>
      <span class="button__border"></span>
      <svg class="button__svg" viewBox="0 0 48 48"><circle class="button__svg__circle" cx="24" cy="24" r="24" fill="none" stroke="#676767" stroke-width="2"></circle></svg>
    </button>

    {% if not post.get_field('hide_menu_link') %}
      <a class="page-menu__full-menu-link is-hidden js-pdf" href="{{ post.get_field('menu_pdf') }}" target="_blank">{{ post.get_field('menu_link_label') }}</a>
    {% endif %}

    <div class="page__container container">
      <section class="page__section js-slides">
        <div class="text-box text-box--intro">
          <h1 class="text-box__title">{{ post.get_field('page_title') }}</h1>
          <div class="text-box__body text-box__body--intro">
            {{ post.get_field('intro_body') }}
          </div>
        </div>
        <ol class="page-menu__steps">
          {% for step in steps %}
            <li class="page-menu__step js-steps">
              <h3 class="page-menu__step__label">{{ step.label }}</h3>
              <ul class="page-menu__step__options">
                {% set opts = step.options|split(',') %}
                {% for opt in opts %}
                  <li class="page-menu__step__option">{{ opt }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ol>
        <img class="page-menu__intro-bowl" src="{{ site.theme.link }}/assets/img/menu-1.jpg" alt="Poke Bowl">
        <img class="leaves leaves--2" src="{{ site.theme.link }}/assets/img/leaves-2.jpg" alt="Eucalyptus Leaves">
      </section>

      {% for item in menu_items %}
        <section class="page-menu__section js-slides">
          <figure class="page-menu-item">
            <header class="page-menu-item__header">
              <h2 class="page-menu-item__title js-title">{{ item.title }}</h2>
              <figcaption class="page-menu-item__info">
                <p>{{ item.sauce }}</p>
                {{ item.ingredients }}
              </figcaption>
            </header>
            <img class="page-menu-item__image" src="{{ TimberImage( item.image ).src }}" alt="{{ item.title }}">
          </figure>
        </section>
      {% endfor %}

      <section class="page-menu__section js-slides">
        {% include "cta-block-lg.twig" %}
      </section>
    </div>

    <div class="mobile-landscape">
      <p>please rotate your screen.</p>
    </div>
  {% if not isAJAX %}</div>{% endif %}
{% endblock %}
