{% extends "base.twig" %}

{% block content %}

  {% set steps = post.get_field('steps') %}
  {% set menu_items = post.get_field('menu_items') %}

  {% if not isAJAX %}<div id="#page-menu" class="page page-pono-ono-menu page-menu">{% endif %}
    <div class="page-menu__container container">
      <section class="page-menu__section js-slides">
        <div class="page-menu__text-box text-box text-box--h1">
          <h1 class="text-box__title">{{ post.get_field('page_title') }}</h1>
          <div class="text-box__body">{{ post.get_field('intro_body') }}</div>
        </div>
        <ol class="page-menu__steps">
          {% for step in steps %}
            <li class="page-menu__step js-steps">
              <h2 class="page-menu__step__label">{{ step.label }}</h2>
              <ul class="page-menu__step__options">
                {% set opts = step.options|split(',') %}
                {% for opt in opts %}
                  <li class="page-menu__step__option">{{ opt }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ol>
        <img class="leaves leaves--bottom" src="{{ site.theme.link }}/assets/img/leaves-1.jpg" alt="Eucalyptus Leaves">
        <img class="leaves leaves--top" src="{{ site.theme.link }}/assets/img/leaves-2.jpg" alt="Eucalyptus Leaves">
      </section>

      {% for item in menu_items %}
        <section class="page-menu__section js-slides">
          <figure class="page-menu-item">
            <header class="page-menu-item__header">
              <h2 class="page-menu-item__title js-title" data-split="chars">{{ item.title }}</h2>
              <figcaption class="page-menu-item__info">
                <p>{{ item.sauce }}</p>
                {{ item.ingredients }}
              </figcaption>
            </header>
            <img class="page-menu-item__image" src="{{ TimberImage( item.image ).src }}" alt="{{ item.title }}">
          </figure>
        </section>
      {% endfor %}
    </div>
  {% if not isAJAX %}</div>{% endif %}
{% endblock %}
