{% extends "base.twig" %}

{% block content %}
  {% if not isAJAX %}<div id="page-story" class="page page-story">{% endif %}
    <section class="story">

      <div class="story__scroll-container js-scroll-container">

        <!-- intro block -->
        <div class="story__block js-block">
          <div class="story__item story__item--top js-front" style="z-index: 1;">
            <div class="page__text-box text-box text-box--intro">
              <h1 class="text-box__title">{{ post.get_field('page_title') }}</h1>
              <div class="text-box__body text-box__body--intro">
                {{ post.get_field('intro_body') }}
              </div>
            </div>
          </div>
          <div class="story__item story__item--image story__item--bottom story__item--margin">
            <img class="story__image js-image" src="{{ TimberImage(post.get_field('intro_image')).src }}">
          </div>
          <img class="js-leaves leaves leaves--3" src="{{ site.theme.link }}/assets/img/leaves-3.jpg" alt="Eucalyptus Leaves">
          <img class="js-leaves leaves leaves--4" src="{{ site.theme.link }}/assets/img/leaves-4.jpg" alt="Eucalyptus Leaves">
        </div>

        {% set story_blocks = post.get_field('story_blocks') %}
        <!-- story block loop -->
        {% for story_block in story_blocks %}
          <div class="story__block js-block">
            <div class="story__item story__item--{{ story_block.text_box_position }}{% if story_block.text_box_margin %} story__item--margin{% endif %}"{% if story_block.layer_order %} style="z-index: 1;"{% endif %}>
              <div class="text-box{% if story_block.layer_order == true %} js-front{% endif %}">
                <h3 class="text-box__title js-block-title">{{ story_block.title }}</h3>
                <div class="text-box__body">
                  {{ story_block.body }}
                </div>
              </div>
            </div>

              {% if story_block.image %}
                <div class="story__item story__item--image story__item--{{ story_block.image_position }}{% if story_block.image_margin %} story__item--margin {% endif %}">
                  <img class="story__image{% if story_block.layer_order == false %} js-front{% endif %}" src="{{ TimberImage(story_block.image).src }}">
                </div>
              {% endif %}

            {% if story_block.leaves_image != 'none' %}
              <img class="js-leaves leaves leaves--{{ story_block.leaves_image }}" src="{{ site.theme.link }}/assets/img/leaves-{{ story_block.leaves_image }}.jpg" alt="Eucalyptus Leaves">
            {% endif %}

            {% if loop.last %}
              {% include "cta-block.twig" %}
            {% endif %}
          </div>
        {% endfor %}
      </div> <!-- end scroll container -->
    </section>
  {% if not isAJAX %}</div>{% endif %}
{% endblock %}
