<section class="modal__section modal__section--form">

  <h4 class="modal__title">{{ form_title }}</h4>

  <form class="modal__form form js-el">
    {{ fn('wp_nonce_field', 'action', 'user-submitted-catering-request', true, false) }}

    <div class="form__row">

      <label class="form__input-group" for="full-name">
        <input class="form__input js-full-name" id="full-name" type="text" name="full-name" placeholder="Full name" required>
        <span class="form__label">Full name</span>
        <span class="form__error-message js-msg"></span>
      </label>

    </div>

    <div class="form__row form__row--w-cols">

      <label class="form__input-group" for="event-date">
        <input class="form__input js-event-date" id="event-date" type="date" name="event-date" placeholder="Date of event" required min="{{ "now"|date("Y-m-d") }}" data-value="" data-format="MMMM DD, YYYY">
        <span class="form__label">Date of event</span>
        <span class="form__icon"></span>
        <span class="form__error-message js-msg"></span>
      </label>

      <label class="form__input-group" for="pickup-time">
        <select class="form__input js-pickup-time" id="pickup-time" name="pickup-time" required>
          <option value="" disabled selected>Pickup time</option>
          {% for opt in pickup_time_options %}
            <option value="{{ opt }}">{{ opt }}</option>
          {% endfor %}
        </select>
        <span class="form__label">Pickup time</span>
        <span class="form__icon"></span>
        <span class="form__error-message js-msg"></span>
      </label>

    </div>

    <div class="form__row form__row--w-cols">

      <label class="form__input-group" for="guest_count">
        <input class="form__input js-guest-count" id="guest-count" type="number" name="guest_count" placeholder="Number of guests" required min="1">
        <span class="form__label">Number of guests</span>
        <span class="form__error-message js-msg"></span>
      </label>

      <label class="form__input-group" for="email">
        <input class="form__input js-email" id="email" type="email" name="email" placeholder="Email address" required>
        <span class="form__label">Email address</span>
        <span class="form__error-message js-msg"></span>
      </label>

    </div>

    <div class="form__row form__row--w-cols">

      <label class="form__input-group" for="dietary_restrictions">
        <input class="form__input js-dietary-restrictions" id="dietary-restrictions" type="text" name="dietary_restrictions" placeholder="Dietary restrictions">
        <span class="form__label">Dietary restrictions</span>
      </label>

      <label class="form__input-group" for="special_requests">
        <input class="form__input js-special-requests" id="special-requests" type="text" name="special_requests" placeholder="Special requests">
        <span class="form__label">Special requests</span>
      </label>

    </div>

    <div class="form__row">

      <input type="text" id="xyq" name="{{ fn('apply_filters', 'honeypot_name', 'date_submitted') }}" value="" style="display: none;">

      <button class="button button--secondary js-submit" type="submit" value="{{ submit_label }}">
        {{ submit_label }}
        <div data-label="{{ submit_label }}"></div>
      </button>

    </div>

  </form>
</section>

<section class="modal__section modal__section--confirmation">
  <div class="modal__section-inner">
    <h4 class="modal__title modal__title--confirmation">{{ confirmation_title }}</h4>
    <div class="modal__confirmation-body">{{ confirmation_body }}</div>
    <a class="button button--secondary" href="{{ cta_link|relative }}">
      {{ cta_label }}
      <div data-label="{{ cta_label }}"></div>
    </a>
  </div>
</section>
