<div class="cta cta--lg">
  <div class="cta__inner">
    <h3 class="cta__title js-title">{{ post.get_field('cta_text') }}</h3>
    <a href="{{ post.get_field('cta_link') | relative }}" class="button button--cta">
      {{ post.get_field('cta_label') }}
      <div data-label="{{ post.get_field('cta_label') }}"></div>
    </a>
  </div>
  <img class="cta__image" src="{{ site.theme.link }}/assets/img/cta-1.jpg" alt="watercolor">
</div>
